[2021-01-29 13:34] greatpotoo opened #1 "Only 7 of 8 numbers are displayed"
Hi,

i recently updated from KeeOtp to KeeOtp2.  I had to create a 8 digit OTP which is easy to setup using the custom settings options.
The OTP is created but when it is displayed on screen for manuel entry only 7 of the 8 digits appear.

![694EAE38-5A44-47C7-86A5-9FF5CF396CA6](https://user-images.githubusercontent.com/25334090/106281054-fdc56a80-623e-11eb-88ab-cb9e9d1cbba5.jpeg)

[2021-01-29 14:39] #1 closed

[2021-01-29 14:49] tiuub commented on #1
Hello,

thank you for reporting this issue. It happend due to a basic visual bug. I have fixed it, you can download the fixed version [here](github.com/tiuub/KeeOtp2/releases/latest).

Best regards

[2021-01-29 15:21] greatpotoo commented on #1
Thank you very much for making the change so quickly!

[2021-01-30 17:45] Elenkhos opened #2 "Hotkey for OTP only auto-type"
Hi,

Could you add a global hotkey to auto-type only the {TIMEOTP} placeholder. For example, KeePassOTP has this feature but it uses its own placeholder not the default Keepass placeholder.

I know that I can use {TIMEOTP} placeholder in custom auto-type sequence but I would like to have a dedicated hotkey to type only the {TIMEOTP} placeholder.

Thank you for considering.

[2021-02-01 00:05] tiuub commented on #2
Hi,

thank you for submitting your feature request. I will check this out and try to implement this.

Just give me some time. I will give my best!

[2021-02-01 18:52] Elenkhos opened #3 "{TOTP} placeholder vs. {TIMEOTP} placeholder"
Hi,

KeeOtp2 uses the Keepass native support for TOTP and its placeholder is {TIMEOTP}. So why KeeOtp2 has also its own placeholder {TOTP}? I think this can be a bit confusing for the user. I don't know which one is preferred to use and is there any difference between them.

Maybe you should consider using only the native {TIMEOTP} placeholder or adding explanation in the documentation about the p

[2021-02-01 19:49] tiuub commented on #3
Hi,

the {TOTP} placeholder is only for downwards compatibility, because some people still have this placeholder in their database from the original KeeOtp.

I will consider this in the next update and give a recommendation in the documentation or inside the plugin.

Thank you for submitting!

Best regards
tiuub

[2021-02-05 01:07] rasa opened #4 "'Cant migrate' errors migrating multiple KeeOtp(1) otp= secrets"
The error message is here:
https://github.com/tiuub/KeeOtp2/blob/6f3de209208c1a2c5ebb7fd6225a63be0dce0547/KeeOtp2/Settings.cs#L104
The issue is the key needs to be right padded with `=`s to a multiple of 8 characters. The issue is discussed [here](https://sourceforge.net/p/keepass/discussion/329220/thread/59b61fddea/). I proved this is the solution, by finding one of the password entries that KeeO

[2021-02-07 15:42] tiuub commented on #4
Thank you for reporting this bug. Currently I am not able to work on this, but I am able to start again on Wednesday.

I will come back and notify you, if it is fixed.

[2021-02-08 03:28] denifednu opened #5 "Dialog windows are hidden under keypass window when 'Always on top' is enabled"
Thank you for making this plugin.

I migrated from KeeOtp to KeeOtp2.  None of the KeeOtp2 dialog window display, instead the focus goes to a window that I cannot see and cannot interact with.

I switched off View -> 'Always on top' and now the KeeOtp2 dialog windows appear.  Naturally, the keypass window now doesn't stay on top of other windows, which is a pain for me.

This issue doesn't occur w

[2021-02-08 14:41] tiuub commented on #5
Hi,
thank you for submitting.
I have fixed your problem quickly.
I will attach a pre-release to this comment here, which you can use.

The bug will completely implemented with the next update, which is planned this or next week.

Quick fix (pre-release):
[KeeOtp2 - 1.4.1.1(pre).zip](https://github.com/tiuub/KeeOtp2/files/5944331/KeeOtp2.-.1.4.1.1.pre.zip)

[2021-02-16 21:44] vespino opened #6 "Is this basically an alternative for Google authenticator or Authy?"
So forgive me for maybe asking a stupid question, but is this plugin an alternative for Google authenticator or Authy? If yes: how would I go about using this on my phone?

[2021-02-17 15:55] tiuub commented on #6
No problem. How to learn something, if you dont ask someone?

So the simple answer is, this plugin is a alternative for both Google and Authy. This is because generating Time-Based One-Time-Passwords (TOTP) is standarized by [RFC 6238](https://tools.ietf.org/html/rfc6238). Due to this standard, it is possible to give the user the freedom to choose its favourite TOTP Generator. So you only need to

[2021-02-17 16:01] vespino commented on #6
Thanks for explaining. I'm an iPhone user, so unfortunately this won't work for me.

[2021-02-18 15:46] #6 closed

[2021-02-25 14:20] #3 closed

[2021-03-02 11:43] Fulgan opened #7 "Compatibility with KeeOTP storage"
The fact that the storage is incompatible (in really unnecessary way, as far as I can tell) with KeeOTP makes it a pain to migrate to this plugin: every other plugin that used to rely on the old format stops working.

Furthermore, the "upgrade" process deletes the previously exiting key, making it nearly impossible to recover.

[2021-03-02 16:09] tiuub commented on #7
Hey,
thank you for your feedback.

Im not sure about your problem. This Plugin is fully compatible to devinmartin's original KeeOtp. It can read the data which was saved by KeeOtp(1). Also the old Placeholder "{TOTP}" is supported. Even if it is marked as deprecated, it is still supported. You can use this plugin without doing anything. You only have to download it place it inside the Plugins fold

[2021-03-02 18:41] nigelhooper opened #8 "handle lowercase secret keys"
Hi,
  Some of my secret keys are in lowercase and so when I try to import them I get an error message title: "Illegal character found!" message "The key includes illegal characters" the allowed characters and regex below are all uppercase and so it appears it only accepts uppercase characters.  Would it be possible to automatically handle secret keys that are provided in lowercase?

![illegal char

[2021-03-04 07:21] Fulgan commented on #7
Thank you for your answer. The issue is that many external plugins and tools used the KeeOTP storage format to read the entry secret and perform their own TOTP calculation (the ones that I'm personally using are KyPass 4 - and iOS keepass application -  and KeePassHelper - a browser plugin for chromium browsers).

Removing the old key storage during the migration caused these applications to stop

[2021-03-04 07:49] tiuub commented on #8
Hi,
thank you for your feedback.
There will be an update today. This will fix this issue.

[2021-03-04 16:37] #8 closed

[2021-03-04 17:28] #5 closed

[2021-03-04 17:29] tiuub commented on #4
Hi, it should be fixed now. Please notify me, if it still happens.

[2021-03-04 17:29] #4 closed

[2021-03-04 17:31] tiuub commented on #2
I have implemented a HotJey option. It's activated by default. You can use it with CTRL-ALT-T, but you can also use another key combination.

[2021-03-04 17:31] #2 closed

[2021-03-04 17:41] tiuub commented on #7
Okay. I am understanding your issue. I have released an update. The migration process is now bidirectional, which means you can "migrate" and "recover".

In my opinion every plugin or app should switch over to the new built-in string field, to get an standardized environment. But well, some plugins are old and discontinued.

I will think about other methods to solve your issue, but for now, this s

[2021-03-04 17:41] #7 closed

[2021-03-04 20:03] EvEvans opened #9 "Button refers to non existing web address"
When going to Context Menu (right click) -> Timed One Time Password -> Wrong? (button) ->Check the troubleshooting website (button), the last button refers to a non existing web address, legacy of version 1 of the KeeOtp plugin.

Thanks for your plugin, frequent user here!

[2021-03-04 20:12] EvEvans opened #10 "Request: ability to adjust time manually or to base time on something else than just system time"
On my laptop (from work) I kept getting wrong TOTP keys, and when clicking Wrong? (button) -> Ping Google for current time (button) it shows my time is 87 seconds off with the time from Google. Sadly, I cannot change the system time manually, nor can I change the (company-based) time-server which is set by company policy.
So on this laptop, it seems there is no way for me to get a correct TOTP key

[2021-03-04 20:25] tiuub commented on #10
Hi,
thank you for your feedback. This should be possible. I will try to implement this in the next 2 or 3 day and send you a pre-release. If the next "bigger" update comes up, I will fully implemented it.

I will notify you if I finished the pre-release.

[2021-03-04 20:32] tiuub commented on #9
Hi,
thank you for submitting.
Well, you are incredible fast. Only two hours after release, you have found the first bug. That's nearly an record. ;)

I'm working on it, I will fix this in the next "bigger" update.

[2021-03-04 20:33] EvEvans commented on #10
Wow you are really fast in replying, many thanks!!

[2021-03-04 20:36] EvEvans commented on #9
Haha, thanks. Would love to take credit, but to be honest I was still using the old version 1.4.1.0, and I didn't notice there was an update. Going to upgrade now :)

[2021-03-05 03:37] rasa commented on #4
v1.5.0 converted every entry successfully. Thank you for fixing!

[2021-03-05 03:45] rasa opened #11 ""Migration Error!" popup appears for every entry missing an `otp` custom field"
With version 1.5.0, when I select Tools -> KeeOtp2 -> Settings and click the upper left OK button, a popup dialog box appears for every entry that **_doesn't_** have a `otp` custom field. The popup says:
[code]
There is no way to cancel the operation, so I have to click [OK] for every entry. At some point, I got a exception dialog, and the program aborted without updating any of the fields.

[2021-03-05 06:17] tiuub commented on #4
Ok, so I had solved one part of the problem. I will test it and think about it. It shouldn't be that hard to fix this. Thank you!

[2021-03-05 06:18] tiuub commented on #11
I'm working on it!

[2021-03-05 07:01] Fulgan commented on #7
"In my opinion every plugin or app should switch over to the new built-in string field, to get an standardized environment. But well, some plugins are old and discontinued."

I agree that applications should migrate but the reality in the field is what it is.

Thank you very much for the updated version.

[2021-03-05 07:43] tiuub commented on #7
No problem.

Sadly I have released the new update 1.5.0 with an bug. It is not a critical one, but it will create a lot of unnecessary MessageBoxes during migration.
I recommend to you, to wait until 1.5.1, which will come up today or tomorrow.

[2021-03-05 10:13] dragoangel opened #13 "KeeOtp2 v1.5.0 error on loading"
Hi, on one PC it works fine, when on same version of KeePass on another PC - not. Previous release v1.4.1 works on both PCs, strange.

KeePass version:
![image](https://user-images.githubusercontent.com/1865999/110101386-21cf1b00-7dac-11eb-9183-dd7bf3f4a339.png)

Error:
![image](https://user-images.githubusercontent.com/1865999/110099505-0c58f180-7daa-11eb-99d8-3999735560d4.png)

[2021-03-05 10:40] Fulgan commented on #7
Excellent, thank you.

I already installed 1.5.0 and noticed the issue. I fixed it in my fork and created a PR. I also took the liberty of adding a unit test project (which I used to test the problem)

[2021-03-05 10:59] tiuub commented on #13
Hi,
thanks for your feedback. Can you open up a command prompt and run KeePass with the debug argument.

If you didn't specified the installation path of KeePass, you can use the following command:
`"%PROGRAMFILES(X86)%\KeePass Password Safe 2\KeePass.exe" --debug`

It will pop up a Message Box which shows you a detailed error report. Please send me this error report, that I can try solving this i

[2021-03-05 12:35] spede commented on #13
Ran into this too, v1.5.0 won't compile. Here's the debug log:

`==============================================================================
Compiler 'null':

C:\Program Files\KeePass Password Safe 2> "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\csc.exe" /t:library /utf8output /R:"PresentationCore.dll" /R:"PresentationFramework.dll" /R:"System.dll" /R:"System.Data.dll" /R:"System.Drawing.dl

[2021-03-05 13:15] #11 closed

[2021-03-05 13:55] tiuub commented on #13
Thank you. Which Windows Version you are using?

[2021-03-05 14:07] spede commented on #13
Windows 10 Pro, 20H2 19042.804.

[2021-03-05 17:14] tiuub commented on #10
Here is the pre-release. Just try it. It would be great if you give some feedback, if you run into an issue.

[KeeOtp2 - 1.5.0.1(pre).zip](https://github.com/tiuub/KeeOtp2/files/6092093/KeeOtp2.-.1.5.0.1.pre.zip)

[2021-03-05 17:14] #10 closed

[2021-03-05 17:17] tiuub commented on #13
Hmm. Basically it should work. I have compiled it now with required minimum of .NET version 4.0. Just try it. Please tell me if it has worked.

[KeeOtp2 - 1.5.0.2(pre).zip](https://github.com/tiuub/KeeOtp2/files/6092104/KeeOtp2.-.1.5.0.2.pre.zip)

[2021-03-05 17:22] spede commented on #13
This one works fine.

[2021-03-05 18:16] dragoangel commented on #13
Also have Windows 10 Pro, 20H2 19042.804.
New version also not loading:
[code]

[2021-03-05 19:18] spede commented on #13
So the patched 1.5.0.2 compiles for me, but there's another issue: KeePass (or more specifically, .NET Framework) halts computer shutdown with this error:

[2021-03-06 08:30] ulfkosack commented on #13
For me 1.5.0.2(pre) also crashes
Windows 10 Pro 2004 (Build 19041.450)

Error message in KeePass:

Debug Message:

[2021-03-06 16:34] denifednu commented on #5
Sorry for not responding sooner, I didn't get a notification.
Thank you very much for fixing this, working great for me.

[2021-03-06 17:22] #13 closed

[2021-03-06 17:32] tiuub commented on #13
I have solved the issue. You can now download version 1.5.1 under [releases](https://github.com/tiuub/KeeOtp2/releases).

Thank you all for your help!

[2021-03-06 17:36] dragoangel commented on #13
Hi @tiuub, thank you :) it works

[2021-03-06 17:38] dragoangel commented on #13
And sorry for offtopic, not think it requires additional issue, do you maintain https://chocolatey.org/packages/keepass-plugin-keeotp2/ ? It now fails to find install package:  The package was not found with the source(s) listed. Thank you

[2021-03-06 17:48] ulfkosack commented on #13
Yes works for me too. Thanks a lot.
![grafik](https://user-images.githubusercontent.com/16068801/110215906-78bc1980-7eac-11eb-82b9-357f2516e554.png)

[2021-03-06 17:56] tiuub commented on #13
@dragoangel Thanks for your answer.

This issue was weird, because it worked fine on my two systems. I've tried a lot, but in the end it was a basic bug with x64 and x86 architecture. So for now I have added the missing libraries, which are somehow not available on x86 systems. So it should work.

To your other topic. I have uploaded this package to chocolatey on 25th February. But it is still unl

[2021-03-06 18:24] dragoangel commented on #13
Thank you for quick bug fix and details 😊, great job

[2021-03-06 23:45] #9 closed

[2021-03-08 00:09] Elenkhos commented on #2
Hi,

Thanks for this. Unfortunately, it seems that changing the TOTP keystroke sequence (for example {TOTP}{ENTER}) disables my global auto-type hotkey (!).

KeeOtp2 1.5.2 and Keepass 2.4.7.

[2021-03-08 05:58] tiuub commented on #2
Hi,

thank you for your feedback. I will test this today.

[2021-03-08 10:50] EvEvans commented on #10
Thanks for the update! Sorry, I couldn't try it earlier, but I just loaded this version and KeePass (newest version) gives the following error:
"The following plugin is incompatible with the current KeePass version ..."

I also saw there is now a version 1.5.2 of KeeOtp2, not sure if this includes the exact fix of 1.5.0.1(pre), but it seems so. Some feedback:
When I now click "Ping NTP server for

[2021-03-08 12:36] tiuub commented on #10
Yes, version 1.5.2 includes everything which was fixed in 1.5.0.1(pre). The error you described was a known bug in 1.5.0, which happened mainly on 32-bit systems, which I fixed wit version 1.5.1.

So with version 1.5.2 everything should work nicely for you.

[2021-03-10 08:12] EvEvans opened #14 "Manually editing the key or uri doesn't save."
I needed to set up a new TOTP for an account, so the key changed, but when editing this, the first time it doesn't save.

Steps to reproduce:
- Right click an entry which already has a TOTP installed
- Click on "Timed One Time Password"
- Click on "Edit" button
- Change/update the "Key or Uri" entry to the new value
- Click "Ok" button

Expected behaviour:
Save new key and return to previous scree

[2021-03-10 08:27] EvEvans commented on #10
Not sure if a new issue is needed for this, since it directly relates to the above fix.
When I startup my laptop Keepass gives this message:

This is probably due to Keepass starting up before wifi is connected.

A delay or other way of giving out this message would be great. Maybe it is also possible to only perform this check whenever a TOTP code is requested by "Copy TOTP" or "Timed One Time Pa

[2021-03-10 08:35] tiuub commented on #14
Thank you for submitting. I will test it today

[2021-03-10 20:04] #14 closed

[2021-03-10 20:07] tiuub commented on #14
Should be fixed now!

[2021-03-10 20:12] tiuub commented on #10
The plugin should be quite now on the startup of your pc.
I have implemented a "retry" function. If there is no connection to the internet while polling the ntp server, the plugin will now wait 40 seconds and tries again after waiting. It will retry three times until the last known time will be used.

In near future, I had planned to give you the option to make it configurable how often and when i

[2021-03-10 21:59] Elenkhos commented on #2
I can confirm that setting the custom TOTP keystroke sequence doesn't disable the global auto-type hotkey anymore in version 1.5.3. Thank you!

[2021-03-11 07:36] SD1313 opened #15 "error: method not found"
Since V1.5.1 i get this error message:

![image](https://user-images.githubusercontent.com/47224147/110751358-0a78ad80-8244-11eb-8651-167308302bfc.png)

[2021-03-11 09:15] tiuub commented on #15
Hi,
this looks bad.
Did you already update to 1.5.3?

[2021-03-11 10:18] EvEvans commented on #14
I can confirm it is fixed with the new version. Thanks!

[2021-03-11 16:11] SD1313 commented on #15
I tried it again with 1.5.3, but the error looks like the same:

![image](https://user-images.githubusercontent.com/47224147/110817608-bfcf5380-828c-11eb-891a-19bf8244f2b1.png)

[2021-03-11 19:15] tiuub commented on #15
Okay, I cant replicate this issue.

Can you run KeePass in Debug-Mode and send me the output?

32-Bit System:
`"%PROGRAMFILES(X86)%\KeePass Password Safe 2\KeePass.exe" --debug`

64-Bit System:
`"%PROGRAMFILES%\KeePass Password Safe 2\KeePass.exe" --debug`

[2021-03-12 14:29] SD1313 commented on #15
With --debug it show's this message:

![image](https://user-images.githubusercontent.com/47224147/110953471-b1923d80-8347-11eb-8170-9dad4b34b483.png)

[2021-03-13 10:27] tiuub commented on #15
Well, that ist weird. Normally it should output a logfile to you.

Just try closing KeePass completely. Then open a cmd (Press WIN + R and type in CMD) and use the command I had posted before.
If the error happens then, you will get a MessageBox which leads to a `*.tmp` file. Click this link, copy the content and post it here.

If this doesn't work. Close KeePass entirely. Open an explorer, naviga

[2021-03-14 11:20] SD1313 commented on #15
Sorry, i tried it in several ways and also only with your plugin active, but the only message i get is the shown before.
I tried also to find the tmp-file. But didn't found it. (searched in %AppData%, "%PROGRAMFILES(X86)%\KeePass Password Safe 2" and %Temp%)
After the shown message box the plugin is not listet in the loaded plugins window (but i think thats clear ;-) )

I'm using KeePass 2.47 (64b

[2021-03-14 15:29] Elenkhos commented on #15
This is a long shot but worth a try if you haven't tried it already. Completely close Keepass and clean the the plugin cache folder for the Keeotp2 in `C:\Users\<username>\AppData\Local\KeePass\PluginCache`. It's probably safe to clean the whole `PluginCache` folder if you want but it might take some time to construct the whole plugin cache again when starting Keepass.

[2021-03-14 18:06] SD1313 commented on #15
After uninstall and install Keepass, it's working now.
(The --debug switch is not working again, but for the moment it's not necessary ;-) )

One "problem" was that my installation of KeePass (64bit) was in the folder %ProgramFiles(x86)%
With un- and reinstall, it switched to %ProgramFiles% (for 64bit applications)

Thank you for your support!

[2021-03-14 18:06] #15 closed

[2021-03-17 02:30] Gerd-MUC commented on #2
No TOTP hotkey works on my sytem - not the global CTRL-ALT-T and also no individual. I try more combinations with CTRL+SHIFT+'a Letter'.
I'm using KeePaas 2.47 (64bit), German.lngx, KeeOtp2

[2021-03-18 10:07] dragoangel commented on #13
@tiuub Hi, your package now available on chocolatey so you can remove `coming soon`, thank you

[2021-03-19 17:32] tiuub commented on #13
Thank you. I removed the tag and updated to 1.5.3.

[2021-03-19 17:36] tiuub commented on #2
Hi @Gerd-MUC ,

which version of KeeOtp2 and which OS are you using? Are you able to use KeePass defined hotkeys, like CTRL + ALT + a?

[2021-03-22 10:09] Gerd-MUC commented on #2
Thanks for feedback - and for the nice tool. 👍
I use KeeOtp2 1.5.3.0 in Windows 10 20H2 Built 19042.868 (all Updates from this weekend).
Now, I test with ALT+CTRL+Z or ALT+CTRL+I - not HotKey-Output. I can't configure ALT+CTRL+A.
It may also be important: I uese KeePass Portabel and my User Accout has only Nomal-User-Privilegs - no Admin.

[2021-04-03 20:04] tiuub commented on #2
Sorry for my late answer @Gerd-MUC .

I didn't want you to set this combination for TOTP hotkey. I want to know, if you are able to use the main auto type. So does it output your username and password in a window if you press `CTRL + ALT + A`?

It's important to know, because I'm using the KeePass built-in hotkey function. This means, if the built-in function does not work, the hotkey of this plug

[2021-05-14 17:26] clst opened #16 "OTP Secret is not detected if there is an `otp` string entry from a different plugin"
OTP Secret is not detected if there is an `otp` string entry from a different plugin (KeePassOTP).

Version: 1.5.3.0

`TimeOtp-Secret-Base32` is correctly created and auto-type works but the setup dialog keeps appearing.
Renaming `otp` fixes the issue. (But then KeePassOTP stops working on the other PC).

My `otp` contains a standard otpauth:// string. Maybe it could be a candidate for an automati

[2021-05-16 22:58] tiuub commented on #16
Hi @clst,

I'm still working on it. Basically it is hard to resolve the error, which happens when closing. I assume to present you a pre-release tomorrow.

Kind regards

[2021-05-21 19:15] 4-FLOSS-Free-Libre-Open-Source-Software opened #17 "method not found Int32 OtpSharp.Totp.ComputeTotp()""
I get those error  messages in plugin Version: 1.5.3.0 & Keepass 2.48.1 if pressing the  Keepass global auto type hotkey anywhere

(translates method not found)

[code]

![grafik](https://user-images.githubusercontent.com/46166740/119187271-a7d43700-ba68-11eb-8b91-94cfa1c64f7d.png)

[2021-05-21 22:16] tiuub commented on #17
Hi @4-FLOSS-Free-Libre-Open-Source-Software,

im just kind of busy at the moment. I cant reproduce your error. Ive tried with the same settings, as you described. But for another issue, I have done some coding for the plugin. Therefore I can send you a pre-release. It might fix your problem. Just give it a try and please tell me if it works.

Pre-Release:
[KeeOtp2 - 1.5.3.1(pre).zip](https://githu

[2021-05-21 22:19] tiuub commented on #16
Hi @clst,

I have tried to fix your issue. Its complicated, I cant figure out, why KeePassOtp is crashing when closing KeePass. Anyway, I have implemented the "otpauth://" uri feature, so this will work for now. I will come back and tell you, if I have fixed the issue with KeePassOtp.

Here you have a pre-release with the implemented uri feature:
[KeeOtp2 - 1.5.3.1(pre).zip](https://github.com/tiu

[2021-05-22 14:36] tiuub commented on #17
Hello @4-FLOSS-Free-Libre-Open-Source-Software,

I have released version 1.5.4 today. It is basically the same like the pre-release, but with some minor bug fixes.
You can check this out too.

So can I close this issue?

[2021-05-22 20:55] tiuub commented on #16
Accidentally closed.

[2021-05-24 21:16] 4-FLOSS-Free-Libre-Open-Source-Software commented on #17
Hi, thanks for the new version I installed it through chocolatey, and unfortunately it still gives me errors. Seems to be a other problem? Not sure how to find more useful information for this error to provide. May any incompatibility? I used to use keepasstraytotp earlier.

[code]

![grafik](https://user-images.githubusercontent.com/46166740/119407848-5def8900-bcd4-11eb-8738-fa83c43d6614.png)

[c

[2021-05-26 16:05] avbfr opened #18 "Cannot configure a new TOTP entry since 1.5.4"
Hello,
Since last update, every time I try to configure a new TOTP entry, a get this error message:

_There happened an error. Please check your entered key and your settings!_

_Error message:_
_La référence d'objet n'est pas définie à une instance d'un objet_

Which in english means _Object reference not set to an instance of an object_.

Instead of the TOTP preview abose the key field i've _inv

[2021-05-26 16:53] tiuub commented on #18
Hi,
thank you for submitting.

I will check it out later.

[2021-05-26 17:39] #18 closed

[2021-05-26 17:43] tiuub commented on #18
I have fixed your issue. It was a small typo.

Thank you for your submission!

[2021-05-26 17:57] avbfr opened #19 "Cannot assign hotkey to TIMEOTP"
Hello Again,

First, thanks for #18 !!

Another (smaller) issue: I cannot assign a HotKey to TIMEOTP. I tried CTRL+T, CTRL+Alt+T, CTRL+Shift+T, I just get an error beep and nothing happens.

_Use global Hotkey_ is, of course, enabled.

I also found more conveniant to have to _Copy TOTP_ Option bellow _Copy Username_ and Copy _Password_ Menus than in the KeeOtp2 Submenu. Would it be possible to hav

[2021-05-27 10:24] tiuub commented on #19
Hi @avbfr,

thank you for your feedback. The "Copy TOTP" thing should be an easy one, I will implement with the next patch.
Your mentioned bug may be based on the implementation of NHotkey. I will check this out. Thank you!

[2021-05-27 12:51] avbfr commented on #19
Hello @tiuub,
Thanks !
Just to clarify a little: I'm able to Assign the HotKey in the config menu but When I try to use it I get the error beep.and the TOTP is not copied.

[2021-05-27 14:59] tiuub commented on #19
Hi @avbfr,

I tried to reproduce your error, but Im not able to get it. Can you give me some more details about your environment?
Which version of Windows do you use? Which system type do you run, 32-bit or 64-bit? Do you use any other software which handles hotkeys, like AutoHotkey or anything else?

[2021-05-27 16:38] avbfr commented on #19
Hello @tiuub
I'm using Windows 10 Enterprise 20H2 64 Bits. I've AutoHotkey installed but it's not activated.
Other Standard KeePass Hotkeys are working fine (CTRL+B, CTRL+V...).
CTRL+T for TOTP stopped working with 1.5.4. I've also tried to set different HotKey but none are working (CTRL+T, CTRL+Alt+T, CTRL+Shift+T).

Other KeePass plugins: KeeAgent 0.12.1.0, KeeChallenge 1.5.0.0, KeePassQRCodeVie

[2021-05-27 20:55] tiuub commented on #19
Okay, thank you. I have tweaked a little bit around. Please check out the newes pre release.

[KeeOtp2 - 1.5.4.2(pre).zip](https://github.com/tiuub/KeeOtp2/files/6556771/KeeOtp2.-.1.5.4.2.pre.zip)

Please tell me, if it worked for you.

[2021-05-27 21:10] avbfr commented on #19
Just tested and CTRL+T works !! Also it's Good to have Copy TOTP under Copy Password ! :-) **Thanks a lot !!**

On this version, I just noticed a small delay (about 1.5s) when copying TOTP using HotKey or directly by clicking on "Copy TOTP" (My KeePass window reduce automatically when I use such menus that's how I can notice the delay).

The configurable Global HotKey looks to not be used anymore

[2021-05-28 21:19] tiuub commented on #19
Great! I will check the issue with the delay.

The Global Hotkey is still usable. It's similar to the built-in Ctrl + Alt + A hotkey. If configured, you can instantly paste the TOTP into the target window by hitting Ctrl + Alt + T. You can configure this at "Edit Entry" - "Auto-Type". For example you configure Auto-Type with window title "*Google*", then hop over to the browser, open Google-Login

[2021-05-28 21:19] #19 closed

[2021-05-29 16:19] clst commented on #16
Hi @tiuub,

Sorry for taking so long to try it.

Somehow all version of the plugin > 1.5.3.0 crash Keepass on my Arch Linux. It seems some incompatibility with mono.
Probably the same reason why stable Arch is still on Keepass 2.47
I will try again once this is resolved.

If you want to look into it here is the crash report:
<details><summary>Wall of text with 1.5.3.1(pre)</summary>

[code]
</deta

[2021-05-30 18:21] homever opened #20 "Any chance of adding Steam guard support?"
Used for a while, thank you for your work.
 Any chance to see the integration of Steam guard TOTP? Thank you.

[2021-05-30 18:53] tiuub commented on #17
Okay. That's interesting.

Can you start KeePass in debug mode? Then you will receive a much more detailed debug log.

Therefore you have to navigate to the KeePass installation folder. Run an 'cmd' inside this folder and type in "KeePass.exe --debug". A message box with an clickable path will rise up. Just click the path and paste the content here.

Kind regards

[2021-05-30 19:11] tiuub commented on #20
Sure. This is already planned. You can estimate it in about 2 or 3 weeks.

Kind regards

[2021-05-30 19:16] tiuub commented on #16
Oh I see. Your on Linux.

I will build up an VM with Mono to get an better understanding of this issue. Please give me some time. I will notify you, if I have a patch for you.

Kind regards

[2021-05-31 10:23] clst commented on #16
I was using KeeOtp2 on my Linux box and KeeOTP or KeePassOTP on the Windows PCs.
If all is well the DLLs/plgx files should just work under mono without any changes. Looks like a bug in mono to me.
Maybe some incompatibility with nhotkey or the new troubleshooting page. I don't think its directly connected to this issue.

[2021-06-02 22:24] ybkshaw opened #21 "CTRL+T no longer copies TOTP code"
Previously I was able to use CTRL+T to copy the TOTP code, as of this latest version that option doesn't seem to exist. CTRL+B copes the Username field, CTRL+C copies the Password field, no CTRL+T.

[2021-06-02 22:28] tiuub commented on #21
Hi @ybkshaw,

this happened because I have rearranged the items in entries context menu.

I have fixed it in a pre-release.

[KeeOtp2 - 1.5.4.2(pre).zip](https://github.com/tiuub/KeeOtp2/files/6556771/KeeOtp2.-.1.5.4.2.pre.zip)

[2021-06-02 22:28] #21 closed

[2021-06-02 23:03] ybkshaw commented on #21
Confirmed that fixes the issue, thanks kindly!

[2021-06-07 21:14] OmlineEditor opened #22 "does not recognize complex codes where the time is different from 30 seconds."
poorly recognizes codes where non-standard time values and non-standard values of numbers. you only have 6 and 8 numbers in the token, but I have both 7 and 9 numbers. your plugin doesn't support it.

See QR. Dig=8, time=35 sec. but your plugin puts 6 digits and 30 sec.
![bug](https://user-images.githubusercontent.com/13348933/121088277-28778f00-c7ee-11eb-8329-bb1ce0f678f4.jpg)

[2021-06-09 13:48] buzzybees opened #23 "What KeePass arguments do I need to use in cmd, in order to create the PLGX file from source myself?"
I am extra paranoid and I tend not to use prepared PLGX files of plugins.

I would like to know how to do the entire process myself, since I do not have experience making something as such.

I have read some documentation on the official site and attempted this (the first KeeOtp2 directory after Downloads is the entire KeeOtp2 repository, cloned):
`KeePass.exe --plgx-create C:\Users\BuzzyBee\Downl

[2021-06-10 17:32] tiuub commented on #23
Hello,
just use the batch files I will post below. It might be an issue because of the dependencies I used in the project.
Put the files in the root path and run the batch file. The output plgx will be moved to a newly created Releases folder.

[makeplgx.zip](https://github.com/tiuub/KeeOtp2/files/6633292/makeplgx.zip)

[2021-06-10 17:32] #23 closed

[2021-06-11 07:24] fantastory commented on #21
yeep it works :)
please push to production to avoid confusions,
I checked all others otp plugins and they do not have this feature

[2021-06-12 12:53] tiuub commented on #22
Hey,
thank you for your submission.

Currently Im a little bit stressed, but Im working on it.

[2021-06-12 13:58] tiuub commented on #22
I have commited a fix for your issue. I had a typo in my code, so custom periods were not recognized. Also it is now possible to set a custom amount of digits.

Kind regards!

[2021-06-12 13:58] #22 closed

[2021-06-13 12:43] tiuub commented on #17
Hi @4-FLOSS-Free-Libre-Open-Source-Software,

I have updated the .NET-Framework to 4.5 and replaced OtpSharp with Otp.NET. This should solve your issue.

I will upload a pre-release here. Please tell me, if it has worked for you. If so, I will uploaded it in production.
[KeeOtp2 - 1.5.5.1(pre).zip](https://github.com/tiuub/KeeOtp2/files/6643885/KeeOtp2.-.1.5.5.1.pre.zip)

Kind regards!

[2021-06-13 19:04] DigitalDJ commented on #20
There's a pull request for Steam Guard support up at the moment. Wish I would have read this thread beforehand ;-)

[2021-06-13 20:00] patrick258 opened #25 "Can we have 7 digits also instead of only 6 or 8?"
Authy is using a 7 digits, 10 second TOTP scheme and I would like to get rid of this additional app. However KeeOTP only offers 6 or 8 digits code option.

https://gist.github.com/JacobJohansen/5f688d45049be440b8ee87cc5e854b75

[2021-06-13 20:24] tiuub commented on #25
Hi @patrick258,

please try the newest version 1.5.5. There I have implemented this feature.

Kind regards

[2021-06-13 20:51] patrick258 commented on #25
Thanks, works like a charm

[2021-06-13 21:14] cyberseguranca opened #26 "still not working CTRL+T"
I tested the new version 1.5.5 and it **still doesn't work**  CTRL+T to copy the TOTP .

![image](https://user-images.githubusercontent.com/85848764/121821855-9fe86b00-cc93-11eb-98a5-e3a457539137.png)

It only works when clicking on the "Copy TOTP" menu in the image below.

![image](https://user-images.githubusercontent.com/85848764/121821985-6fed9780-cc94-11eb-8f08-62365b202e63.png)

[2021-06-13 21:23] tiuub commented on #26
Oh no! Fixed one issue and opened another. Give me some time, I will see what I can do tomorrow. I'm busy right now, but I think it's only a small typo.

Stay tuned, I'm working on it.

Kind regards!

[2021-06-13 21:25] #25 closed

[2021-06-14 02:17] 4-FLOSS-Free-Libre-Open-Source-Software commented on #17
Hi, thanks for fixing, the provided KeeOtp2 - 1.5.5.1(pre) version did not produce any of the error messages so far and works great for me.
Best regards

[2021-06-14 02:17] #17 closed

[2021-06-14 05:13] tiuub commented on #17
That's great! I will release this version in the following days.

Have a good day!

[2021-06-14 06:23] gabycmc opened #27 "Ctrl + A not working!!!"
I've tried every trouble shouting mentioned and the select all function (Ctrl + A) still DOES NOT WORK!!! Ctrl C, Ctrl V, Ctrl X, etc all work.  Ctrl A is the only one that does not work.  Just stopped worked suddenly.  Has anyone had this issue that can help me?  It doesn't work in anything.  Not in Word, Excel, or anything else.  I use Windows 10 Pro.  Have a Logi Ergo K860 keyboard & a HP lapto

[2021-06-14 06:25] gabycmc commented on #26
Following.  My Ctrl A is not working. Hoping it's the same fix.  Other commands do work. Just not Ctrl + A.

[2021-06-14 06:50] tiuub commented on #27
Hey @gabycmc,

thank you for your submission.

I'm not sure, but this plugin doesn't bind the hotkey CTRL+A. By default, the only hotkeys are CTRL+T, while selecting an entry and CTRL+ALT+T for global auto-type. So this plugin shouldn't be responsible for your issue. Did you install other software, like AutoHotKey?

I'm busy right now, but I will try giving you further advise this evening. Please

[2021-06-17 15:46] #27 closed

[2021-06-17 15:53] gabycmc commented on #27
@tiuub

Couldn't figure it out either huh?

[2021-06-17 16:01] tiuub commented on #27
As I said, this plugin does not bind the hotkey CTRL-A by default. So this issue can't happen due to this plugin.

The only thing which is possible, is that you have bind CTRL-A as global hotkey for entering the otp. Therefore please navigate to KeePass->Tools->KeeOtp2->Settings and set the hotkey sequence to anything else than CTRL-A.

If this doesn't work for you, you have to give me more detail

[2021-06-21 16:00] #26 closed

[2021-06-21 16:03] tiuub commented on #20
Hi @homever,

I have just uploaded a patch  for steam support.
Just give it a try. Its version 1.5.6.

Kind regards

[2021-06-21 16:03] #20 closed

[2021-06-22 02:11] pixelplumber opened #28 "broken entries created with 1.5.6 if hashed?"
**Edit: versions 2.48.1 keepass, 1.5.6 keeotp2**

Hi, just changed the plugin over from keeotp to keeotp2 and I'm having issues after migrating entries or creating new entries.

I notice that if I manually create a "TimeOtp-Secret-Base32" field and paste in a plain-text TOTP key (example: JBSWY3DPEHPK3PXP) then the displayed TOTP value is correct.

If I create and save the TOTP using the right cli

[2021-06-22 04:15] pixelplumber commented on #28
I see similar issue if I paste in an optauth:// uri and click the "load URI" link above the input field.  It seems to flash up the correct OTP value in preview until you click load URI and then changes over to the incorrect one based on the changed key hash/value?

eg:

1. Using example key  HXDMVJECJJWSRB3HWIZR4IFUGFTMXBOZ from [yubikit site](http://yubikit.com/) and saving as plain text "TimeOtp

[2021-06-22 06:22] meyca opened #29 "Plugin does not load in KeePass2 2.48.1 Portable on Ubuntu 20.04 anymore"
Up to version 1.5.3 the plugin does load. 1.5.4 and 1.5.5 do not.

`$ mono ~/Applications/Keepass2/KeePass.exe --debug
`

![image](https://user-images.githubusercontent.com/408161/122873161-b779c080-d331-11eb-9051-96d9453e14eb.png)

![image](https://user-images.githubusercontent.com/408161/122873213-c791a000-d331-11eb-90ce-ce74d333571f.png)

[code]
The file is empty.

Package "mono-complete" is in

[2021-06-22 06:28] #28 closed

[2021-06-22 06:31] tiuub commented on #28
Hi @pixelplumber,

thank you for your submission. Your issue was beautifully described.
Thank you for your time. I have updated the plugin.

Kind regards

[2021-06-22 06:33] tiuub commented on #29
Hi @meyca,

thank you for your submission. I recently noticed, that KeeOtp2 is broken for Linux. At first, I fixed some other bugs, but I will get my eyes on this issue now. Please stay patient.

Kind regards

[2021-06-22 07:06] pixelplumber commented on #28
Thankyou for the lightning quick fixes!  It all looks good now.

Cheers.

[2021-06-22 15:00] cyberseguranca commented on #26
Version v1.5.6.1 same Issue...

[2021-06-22 18:00] homever commented on #20
@tiuub Confirmed working!
Thank you so much for this addon 👯

[2021-06-24 16:30] Zickfor commented on #20
You are talking about Valves Steam? How did you get secret?

[2021-06-26 14:52] homever commented on #20
@Zickfor I use [https://github.com/Jessecar96/SteamDesktopAuthenticator](url)

[2021-07-09 12:19] plorerfisfct opened #30 "Settings window has problems"
**Tested version:**
1.5.6.1 - KeeOtp2.plgx - SHA512 392768226901D4EDB227064D92FCE66BADE565DA35074B7F2BDB7F31D9C146EA8D2AC818549F498C39174FA4A2A03E94843D1E4F7E34DFB2614CE1C46E30E8B2

**Windows version:**
Windows 8.1

**Description:**
Hi,

see the screenshots.

![1](https://user-images.githubusercontent.com/87186277/125076100-c85f5b80-e0bf-11eb-8705-92e92569b266.PNG)
![2](https://user-images.githubu

[2021-07-09 12:24] plorerfisfct commented on #30
**Additional Info:**

All windows of KeeOtp2 have the problem that can not be fully captured via Snipping Tool -> Window Snip.

[2021-07-09 12:45] plorerfisfct opened #31 "Last Modification Time is not updated in the column"
**Tested version:**
1.5.6.1 - KeeOtp2.plgx - SHA512 392768226901D4EDB227064D92FCE66BADE565DA35074B7F2BDB7F31D9C146EA8D2AC818549F498C39174FA4A2A03E94843D1E4F7E34DFB2614CE1C46E30E8B2

**Windows version:**
Windows 8.1

**Description:**
Hi,

see the screenshots.

![1](https://user-images.githubusercontent.com/87186277/125079228-a8319b80-e0c3-11eb-81a1-32e04ed3581e.PNG)
![2](https://user-images.githubu

[2021-07-30 16:16] andoo commented on #29
I really love this plugin and would love to use it on my linux machine too :-)

For me, the generated tmp-file was not empty. It seems to be a problem with the filesystem. It says:

But the files are named _Settings.Designer.cs_ and _Troubleshooting.Designer.cs_ (uppercase D instead of lowercase d).

[2021-08-03 10:45] tiuub commented on #30
Hey @plorerfisfct,

thank you for your submission.

Currently I'm very busy, but I will check it out on Friday.

Kind regards
tiuub

[2021-08-03 10:46] tiuub commented on #31
Hey @plorerfisfct,

it seems to be a bug inside KeeOtp2. As I said before, I will get my eyes on it on Friday.

Kind regards
tiuub

[2021-08-19 11:19] chet-pikabu commented on #28
There is still error, unfortunately
![image](https://user-images.githubusercontent.com/76513707/130059531-8c105d68-8d05-44c5-8bc8-a3fc508bc48b.png)
KeePass 2.48.1, wine (Win 10 mode), .NET 4.8

[2021-09-07 20:37] tiuub commented on #28
Hi @chet-pikabu,

I tried it with your qr code at version 1.5.6.1. In my case it worked quite well.

Do you have further information?

Kind regards
tiuub

[2021-09-07 20:40] tiuub commented on #31
Hi @plorerfisfct,

I have to apologize, I'm very busy right now and can't get any time for coding. I won't forget your issue.

Stay tuned, next update will come soon.

Kind regards
tiuub

[2021-09-11 12:12] isarrider opened #32 "Dark Theme Compatibility"
Hi...
with the KeeTheme Plugin (set to dark)
basically almost nothing is readable...

Thx,
ALex

[2021-09-13 17:05] tiuub commented on #32
Hi @isarrider,

thank you for your issue. I didn't run into this issue ever before, because I'm using plain theme for KeePass.

As I said in another issues before, I'm not at home right now, so I'm not able to fix this immediately. Please stay patient, I won't forget your issue.

Kind regards
tiuub

[2021-09-13 18:36] isarrider commented on #32
Hi tiuub - more the other way rounds...
Thanks for your plgin and outstanding support effort!

BR,
ALex

[2021-09-19 21:43] japrudhomme commented on #29
I am having this same issue. I am happy to help with testing a fix if needed. I am on Linux Mint 20.2 Uma base: Ubuntu 20.04 focal

[2021-09-24 16:39] #16 closed

[2021-09-24 16:39] #32 closed

[2021-09-24 22:36] isarrider commented on #32
awesome - thank you!

[2021-09-25 04:50] tiuub commented on #29
Finally, I could get a fix for this issue.

I had tested it on Fedora. Please give me some feedback, if it is working on your system too.

Kind regards
tiuub

[2021-09-25 04:50] #29 closed

[2021-09-25 04:51] tiuub commented on #31
Fixed it. You can check out the newest update of KeeOtp2.

Kind regards
tiuub

[2021-09-25 04:51] #31 closed

[2021-09-25 10:16] meyca commented on #29
confirm fixed with KeePass 2.49 and Plugin 1.5.7.0 on Ubuntu 20.04.

Thank You very much, @tiuub.

[2021-10-01 22:54] mdeweerd opened #33 "choco installation error"
This issue has been appearing since a while:
"2021-10-02 00:50:13,133 26976 [ERROR] - ERROR: Specified cast is not valid."
"C:\ProgramData\chocolatey\lib\keepass-plugin-keeotp2\tools\chocolateyinstall.ps1' -installArguments '' -packageParameters '''] exited with '-1'."

Extract from log,hopefully this helps
[code]

[2021-10-03 09:58] tiuub commented on #33
Hi @mdeweerd,

Im on it. In the meantime you can manually install the plugin by downloading the .plgx from the Releases page and place it in the Plugins folder.

Kind regards

[2021-10-03 10:38] mdeweerd commented on #33
@tiuub Thank you!

I used to install it manually, but I try to switch to choco to make updates easier. Then this messed up some stuff due to the manual/choco mixing.
It's not urgent ;-), but if nobody reports it then it could be bad press for a good plugin ;-).

[2021-10-03 20:14] tiuub commented on #33
Did you use powershell with admin privileges and is your KeePass fully installed or the portable version?

Kind regards

[2021-11-06 03:00] cheatmo opened #34 "Local Shortcut conflig with other plugin, can we change Local Shortcut?"
Hi!

I have another plugin also has shortcut key of Ctrl + T for their job. Unfortunately, this plugin has not been developed anymore. Can we have an option to allow changing Ctrl + T shortcut to customer one, just like the global shortcut key?

Thank you so much!

[2021-11-07 14:57] tiuub commented on #34
Hey @cheatmo,

sure, this should be an easy one.
I'm very busy at the moment. Please stay patient.

Kind regards
tiuub

[2021-11-13 02:33] Silun opened #35 "Copy TOTP won't work for Steam"
For Steam, the TOTP can only be coped to clipboard by going to `Rightclick -> KeeOtp2 -> Show TOTP -> Copy`. It will not be copied by either `CTRL+T` or `Rightclick -> KeeOtp2 -> Copy TOTP`. Again, to be really clear, it will NOT copy the TOTP when I choose the Copy TOTP option. It only works when I open the little window where it displays the TOTP, and click the copy button there. I have found no

[2021-11-13 11:40] tiuub commented on #35
Hey @Silun,

thank you for your bug report. I will resolve this as soon as possible. Stay tuned!

Kind regards
tiuub

[2021-11-21 22:25] #35 closed

[2021-11-21 22:29] tiuub commented on #34
Hello @cheatmo,

I have implemented your enhancement.
Check out the new version 1.5.8.

Kind regards
tiuub

[2021-11-21 22:29] #34 closed

[2021-11-21 22:29] tiuub commented on #35
Hey @Silun,

I have fixed it in the newest version.
Check out version 1.5.8.

Kind regards
tiuub

[2021-11-22 15:56] cheatmo commented on #34
Work beautifully!
Thank you so much!

[2021-11-30 14:28] 4-FLOSS-Free-Libre-Open-Source-Software opened #36 "v1.5.8 missing on choco"
https://community.chocolatey.org/packages/keepass-plugin-keeotp2#versionhistory

please update :)

[2021-11-30 15:02] meandthemachine opened #37 "QR code scanning only works on last one of multiple monitors"
Thank you for this plugin. I found this issue while using it.

https://github.com/tiuub/KeeOtp2/blob/bf8739a3c3ed6356b7b294784f6e04d60803ecbb/KeeOtp2/Forms/OtpInformation.cs#L562

The `uri` gets overwritten in every loop turn.
Instead, the loop should be left as soon as `uri` is not `null`, I assume.

[2021-11-30 15:11] tiuub commented on #36
Done. :)

Kind regards

[2021-11-30 15:12] tiuub commented on #37
Thank you for your submission. I'm working on it.

Kind regards

[2021-11-30 16:49] rasa commented on #37
Amazing turnaround!

[2021-12-01 08:40] meandthemachine commented on #37
I'm happy to confirm that version 1.5.8.1 works as expected regarding this issue.
Thank you very much!

[2021-12-23 16:13] Tendodeku opened #40 "QR Code Scanning not working"
When I try to scan a QR code on the screen, I get this error.  I'm on Windows 10

![image](https://user-images.githubusercontent.com/96587950/147266097-4a2a894d-f627-49f6-9ce1-4441f5d63976.png)

[2022-01-13 16:29] Alpengreis opened #41 "[v1.5.8.1] Crash if otp keay already exists ..."
Hello

First, thank you for this wonderful plugin!

I tried the following scenario for testing:

Opened a record that had already an {otp} entry from old plugin KeeOtp v1.3.9 ... which looks as following:

![otp_01](https://user-images.githubusercontent.com/11355601/149368389-573e56e8-4f20-4d35-803e-2252cc83b774.PNG)

Then I changed the field name and removed the string part "key=" as following:

[2022-01-14 06:46] tiuub commented on #41
Hey @Alpengreis,

thank you for reporting this issue. I will give my best, to fix this soon.

Kind regards
tiuub

[2022-02-20 19:12] meandthemachine commented on #40
@Neverforgetit08 Which version of the plugin? Are you using two or more screens?
... maybe this is a duplicate of #37 which has been fixed in version 1.5.8.1.

[2022-02-20 20:04] Neverforgetit08 commented on #40
I'm using the latest version, version 1.5.8.1. It does scan sometimes, but most of the time, I get the error above. I'd say it works like 40% of the time

[2022-02-20 20:34] tiuub commented on #40
Hey @Neverforgetit08,

I have to apologize, for answering that late. Currently I'm stressed out due to my exams.

I've planned to release an update soon after my exams. I hope that I can release it about the end of next week. I would appreciate it, if you can provide further information to your issue. So I'm able to reproduce your issue.

Kind regards

[2022-02-20 20:41] Neverforgetit08 commented on #40
@tiuub  Its fine, you don't have to apologize. Please focus on your exams as that is more important. I will go through all the sites I have 2fa enabled and provide more information.

[2022-02-20 23:05] Neverforgetit08 commented on #40
I tried scanning 2fa QR codes from different sites, and I found out that if I keep hitting "retry" on the prompt above, it'll eventually scan the QR code. I suppose it's not that it doesn't work, it's just inconsistent.

I tried it several times, and I noticed the following outcomes. Sorted by occurrences, 1 being the most common outcome:
1. It doesn't work no matter how much I hit retry
2. It wor

[2022-02-21 08:03] meandthemachine commented on #40
I can reproduce and observe it as well. It seems to almost happen everytime if either the initial message box or the "retry" message box (shown in @Tendodeku 's screenshot) covers parts of the QR code (which is quite likely since those message boxes seem to be shown centered on the screen).
Maybe the plugin's windows don't hide fast enough (which under the hood might be done asynchronously via Win

[2022-02-22 08:18] taroxd opened #42 "An error indicating `hotkey is registered' when starting keepass"
Error Detail (The Chinese means `hotkey is registered'):

[Window Title]
KeePass

[Content]
The following plugin is incompatible with the current KeePass version:
C:\Users\taroxd\AppData\Local\KeePass\PluginCache\nltA12hROdxB9UF3AoZV\KeeOtp2.dll

Have a look at the plugin's website for an appropriate version.

[Expanded Information]
热键已注册。 (异常来自 HRESULT:0x80070581)
NHotkey
   在 NHotkey.Hotkey.Regi

[2022-03-09 09:09] creckord commented on #42
Same here. Any way to figure out which hotkey is already registered to which function?

[2022-03-09 09:16] creckord commented on #42
Figured it out. It's the global hotkey. It was already in use by another application.

I wasn't able to disable it through "Use global hotkey", because that disabled the local hotkey as well, so I reassigned it to something I'm unlikely to hit by accident.

[2022-03-09 16:25] zeeh1975 opened #43 "Exception thrown when setting global hotkey to none"
Setting global hotkey to 'none' even when "Use global hotkey" is unchecked leads to KeePass to thrown an exception message.
Also after reopening KeePass also shows a message about plugin incompatibility, but plugins works anyway.

Config screen:
![KeePass_6fYhMcRXmz](https://user-images.githubusercontent.com/1238547/157484493-9cedeb91-821c-4ff5-b94d-bcfb1e694013.png)

Exception at KeePass start:
!

[2022-03-12 02:23] taroxd commented on #42
Thanks. I reassigned my global hotkey to another one and then disabled it, and now the annoying error disappeared. It is quite confusing that even if I disable the hotkey, the plugin still try to register it.

[2022-03-18 21:12] Alpengreis opened #44 "Is this repo still active yet?"
Sorry for the question but I don't see any code activity from developer in the 2022 and no postings since January 14 ...

[2022-04-14 08:23] Upuaut opened #45 "Excessive CPU Usage when used with Pleasant Password KeePass"
We are having issues across multiple machines when using KeeOTP2 with V2.39.1 KeePass (Pleasant Server Edition). The CPU goes to 100% and the machine becomes unusable. If you close Keepass it carries on in the back ground and an end task is required. Removing the KeeOTP2 plugin and restarting Keepass resolves the issue.

PC O/S is Windows 10 21H2 and it has worked well for some time but seems to b

[2022-07-04 16:42] #40 closed

[2022-07-04 16:47] tiuub commented on #40
Hey, finally I've fixed this issue. So I added delay while taking the screenshot, so the window is now completely invisible while taking the screenshot.

Kind regards
tiuub

[2022-07-04 16:50] tiuub commented on #42
Hey, fixed this in the newest version [1.5.9](https://github.com/tiuub/KeeOtp2/releases/tag/v1.5.9). The plugin won't register a hotkey anymore if the global hotkey is deactivated. It also displays a more recognizeable error message, when the hotkey already is in use.

Kind regards
tiuub

[2022-07-04 16:50] #42 closed

[2022-07-04 16:51] tiuub commented on #43
Hey, fixed this in the newest version [1.5.9](https://github.com/tiuub/KeeOtp2/releases/tag/v1.5.9).

Kind regards
tiuub

[2022-07-04 16:51] #43 closed

[2022-07-04 16:53] tiuub commented on #44
Hey, I've got some hard times. For now I have uploaded a updated version for some issues. Stay tuned :)

Kind regards
tiuub

[2022-07-04 16:53] #44 closed

[2022-07-05 20:27] Alpengreis commented on #44
Thank you very much and all the best for you!

[2022-07-25 23:14] OchreFox commented on #20
Wanted to give a quick tutorial on how to setup Steam guard:

1. Remove Steam Guard mobile authenticator (if present)
2. Download latest release from [Steam Desktop Authenticator](https://github.com/Jessecar96/SteamDesktopAuthenticator/releases/latest)
3. Run the exe and set up a new account, follow the instructions given on screen
4. Optionally leave blank encryption field _(we just need to get t

[2022-09-20 15:58] Mrothyr opened #46 "Support for HOTP"
As in subject. Is there any support for HOTP?